{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}
<hr>
<h2>Completed tasks in {{list.name}}</h2>

<form method="GET" class="form-inline" action="">
    <input class="form-control" type="text" name = "name" placeholder="Search">
    <button type="submit" class="btn btn-primary my-1" style="margin-left: 5px;">Submit</button>
</form>
<button type="button" class="btn btn-primary" onclick="window.location.href='/1/donelist?order=name'" >Order by name</button>

<table class="table">
    <tr>
        <th>Task</th>
        <th>Created</th> 
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
        <th>Delete</th>
    </tr>
    {% for task in tasks %}
    {% if task.mark is True %}
    <tr>
        <th>{{task.name}}</th>
        <th>{{task.created}}</th>
        <th>{{task.due_on}}</th>
        <th>{{task.owner}}</th>
        
        <th>
            <a href="./tasknotdone/{{task.id}}"><button type="button" class="btn btn-primary">Not Done</button></a>
        </th>
        <th>
            <a href="./deletetask/{{task.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
        </th>
    {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block footer %}
<a href="./todolist"><button type="button"  class="btn btn-warning">View not completed tasks</button></a>
<a href="./delete_list"><button type="button"  class="btn btn-danger">Delete this list</button></a>
{% endblock%}