{% extends 'base.html'%}
{% load staticfiles %}

{% block header %}
<button type="button" class="btn btn-info">Add task</button>
{% endblock%}

{% block content %}
<hr>
<h2>Tasks in {{list.name}}</h2>

<form method="GET" class="form-inline" action="/1/todolist">
    <input class="form-control" type="text" name = "name" placeholder="Search">
    <button type="submit" class="btn btn-primary my-1" style="margin-left: 5px;">Submit</button>
</form>
<button type="button" class="btn btn-primary" onclick="window.location.href='/1/todolist?order=name'" >Order by name</button>

<table class="table">
    <tr>
        <th>Task</th>
        <th>Created</th> 
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
    </tr>
    {% for task in tasks %}
    {% if task.mark is False %}    
    <tr>
        <th>{{task.name}}</th>
        <th>{{task.created}}</th>
        <th>{{task.due_on}}</th>
        <th>{{task.owner}}</th>
        
        <th>
            <button type="button" class="btn btn-primary">Done</button>
        </th>
    {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block footer %}
<a href="./donelist"><button type="button"  class="btn btn-warning">View completed tasks</button></a>
{% endblock%}